/* * {
  outline: 1px solid red;
} */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 100px;
}

.form label {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 8px;
  column-gap: 14px;
}

.form input[name='delay'] {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.form fieldset {
  border-radius: 4px;
  display: flex;
  width: 360px;
  border: 1px solid #808080;
  padding: 12px 2px;
  justify-content: space-around;
  align-items: center;
}

.form fieldset legend {
  text-align: start;
  margin-left: 28px;
}

.form fieldset label {
  flex-direction: row;
}

.form input[name='state'] {
  width: 20px;
  height: 20px;
}

.form button {
  width: 360px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin-top: 8px;
}
